body{
    background-color: grey;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    margin: 20px 0px 20px;
}
hr{
    width: 100%;
    color: red;
}
.login{
    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 6px;
    margin: 0 auto 0 auto;
    padding: 0px 0px 70px 0px;
    border: 4px solid greenyellow;
}
.user{
    background: lightpink;
    width: 200px;
    height: 20px;
}
.pass{
    background: lightgreen;
    width: 200px;
    height: 20px;
}
.sub{
    background: lightseagreen;
    height: 30px;
    width: 70px;
}
.rst{
    background: lightgreen;
    height: 30px;
    width: 70px;
}
.a{
    text-decoration: none;
}
